
.submitButton{
  background-color: grey;
  color: black;
  margin-top: 5%;
}

.submitButton:hover {
  transform: scale(1.1); 
}
.wrapper {
  display: flex;
  padding-left: 20%;
  justify-content: center;
  align-items: center;
  padding-right: 15%;
  margin-top: 5%;
  margin-bottom: 6%;
}

.subDog2 {
   max-height: auto;
    min-height: auto;
    min-width: auto;
    gap: 2rem;
    max-width: 400px;
    border-radius: 10px;
}
.subDog1 {
   max-height: auto;
    min-height: auto;
    min-width: auto;
    gap: 2rem;
    max-width: 400px;
    border-radius: 10px;
}

.h2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.sumbmitInfo {
    padding-top: 10%;    
}
