
.submitButton{
  background-color: grey;
  color: black;
  margin-top: 5%;
}

.submitButton:hover {
  transform: scale(1.1); 
}
.wrapper {
  display: grid;
}

.subDog1 {
    height: 500px;
    width: 400px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    margin-left: 39%;
    margin-bottom: 12%;
    border-radius: 10px;
}
.subDog2 {
    height: 500px;
    width: 400px;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    border-radius: 10px;

}

.h2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.sumbmitInfo {
    padding-top: 10%;
     
}
